.inside-card {
  background-color: $card-bg;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 0.5rem;
  position: relative;

  li {
    padding: 0 10px;
  }
}

.attack-card {
  background-color: $attack-bg;
}

.block-card {
  background-color: $block-bg;
}
.llll {
  display: inline;
}

.enemy-name {
  margin-bottom: 0;
  font-size: 1.35rem;
  font-weight: bold;
  text-align: left;
}

.health-outline {
  width: 200px;
  height: 30px;
  outline: 1px solid black;
  position: relative;
}

.health-bar {
  height: 30px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
}

.enemy-health-text {
  position: absolute;
  font-weight: bold;
}

.flex-test {
  display: flex;
}

.enemy-block {
  color: $block-bg;
  padding-left: 1rem;
}

.enemy-move-name {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.flex-parent {
  display: flex;
  justify-content: center;
  position: relative;
}

.outer-card {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.card-header-fight {
  border-bottom: 1px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.card-description {
  position: absolute;
  bottom: 0;
  font-size: 0.85rem;
  border-top: 0.5px solid black;
}

.end-turn-button {
  padding: 131px 0;
  position: absolute;
  right: 15px;
}

.card-mana-cost {
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}

.useable {
  color: $useable;
}

.not-useable {
  color: $disabled;
}

.show-mana {
  color: $useable;
  font-size: 1.1rem;
}

.blocking {
  color: $block-bg;
}

.justify-center {
  justify-content: center;
}
