.inside-card {
  background-color: $card-bg;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  cursor: pointer;
  margin: 0 0.5rem;
  position: relative;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;

  li {
    padding: 0 0.5rem;
  }
}

.attack-card {
  background-color: $attack-bg;
}

.block-card {
  background-color: $block-bg;
}
.llll {
  display: inline;
}

.enemy-name {
  margin-bottom: 0;
  font-size: 1.35rem;
  font-weight: bold;
  text-align: left;
}

.health-outline {
  width: 200px;
  height: 30px;
  outline: 1px solid black;
  position: relative;
}

.health-bar {
  height: 30px;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s;
}

.enemy-health-text {
  position: absolute;
  font-weight: bold;
}

.flex-test {
  display: flex;
}

.enemy-block {
  color: $block-bg;
  padding-left: 1rem;
}

.flex-parent {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.outer-card {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.card-header-fight {
  //color: white;
  border-bottom: 1px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 0;
  padding: 0.5rem !important;
}

.weapon-details-fight {
  margin-top: 0.25rem;
}

.card-description {
  position: absolute;
  bottom: 0;
  font-size: 0.85rem;
  border-top: 0.5px solid black;
}

.card-mana-cost {
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}

.useable {
  color: $useable;
  transition: 0.5s all;
}

.not-useable {
  color: $disabled;
  transition: 0.5s all;
}

.show-mana {
  color: $useable;
  font-size: 1.1rem;
}

.blocking {
  color: $block-bg;
}

.justify-center {
  justify-content: center;
}

.next-enemy-move {
  font-weight: bold;
  font-size: 1.25rem;
}

.mana-and-block {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.synergy-item {
  text-decoration: underline;
  text-decoration-color: #e18728;
}

.conflict-item {
  text-decoration: underline;
  text-decoration-color: darkblue;
}

.animation-sword {
  display: block;
  position: absolute;
  height: 5rem;
  left: 30%;
  width: 5rem;
  top: 35%;
  opacity: 0;
  transition: 0.3s all;
  background-color: transparent;
}

.move-details {
  position: relative;
}

.test {
  background: transparent;
}

.increased-damage {
  color: $high-health;
  font-weight: bold;
}

.decreased-damage {
  color: $low-health;
  font-weight: bold;
}

.button-holder-fight {
  display: flex;
  flex-flow: column;
  button:nth-child(1) {
    margin-bottom: 0.5rem;
  }
  button:nth-child(2) {
    margin-top: 0.5rem;
  }
}
