.chat {
  text-align: center;
}

.gameplay {
  justify-content: center;
  margin-top: 1rem;
  height: 462px;
}

textarea {
  width: 100%;
}

.main-component {
  height: 462px;
  text-align: center;
}

.fightBoard-div {
  height: 462px;
  margin-top: 1rem;
}
