.movePreview {
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
  color: $move-text-color;
  font-size: 1rem;
  position: relative;
}

.Weapon {
  background-color: $weapon-bg;
}

.Attack {
  background-color: $attack-bg;
}

.Block {
  background-color: $block-bg;
}

.mana-cost {
  color: $useable;
}

.hover-details {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s linear;
}

.movePreview:hover {
  .hover-details {
    height: auto;
    opacity: 1;
  }
}
