.player-header {
  border-bottom: 1px solid $player-bg;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.player-info {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 20%;
}

.good-health {
  color: $high-health;
}

.bad-health {
  color: $low-health;
}

.player-gold {
  color: gold;
}

@media only screen and (max-width: 600px) {
  .player-info {
    margin: 0;
  }
}
