$box-width: 62px;
$box-height: 62px;
$box-m: 0.125rem;
$box-bg: grey;
$player-bg: grey;
$card-bg: #e9ecef;
$block-bg: #0080ff;
$attack-bg: #ff3333;
$useable: #ffbe4f;
$disabled: #814fff;
$weapon-bg: #8524a8;
