$box-width: 55px;
$box-height: 55px;
$box-m: 0.125rem;
$square-box-bg: #007bff;
$player-box-bg: #343a40;
$box-bg: grey;
$player-bg: grey;
$card-bg: #e9ecef;
$card-bg2: #a6b3bf;
$block-bg: #0080ff;
$attack-bg: #ff3333;
$useable: #f0a202;
$disabled: #81a4cd;
$weapon-bg: #345995;
$high-health: #526f35;
$low-health: #e80000;
$move-text-color: white;
