$box-width: 55px;
$box-height: 55px;
$box-m: 0.125rem;
$square-box-bg: #007bff;
$player-box-bg: #343a40;
$box-bg: grey;
$player-bg: grey;
$card-bg: #e9ecef;
$block-bg: #0080ff;
$attack-bg: #ff3333;
$useable: #ffbe4f;
$disabled: #814fff;
$weapon-bg: #8524a8;
$high-health: #526f35;
$low-health: #e80000;
$move-text-color: white;
